{% extends 'base.html.twig' %}

{% block title %}Test{% endblock %}

{% block body %}
    <h1>Vous êtes né dans le département: {{ departement }}!</h1>
    <h2> Vous êtes un/une {{ sexe }}</h2>
{% endblock %}
