{% extends "base.html.twig" %}
{% block title %}
    {{ titre }}
{% endblock %}
{% block body %}
    <p> {{ titre }} </p>
    <p>Nom: {{  employe.nom }}</p>
    <p>Salaire: {{  employe.salaire }}</p>
{% endblock %}
