{% extends "base.html.twig" %}
{% block title %}
    {{ titre }}
{% endblock %}
{% block body %}
    <p>Employé n°{{  employe.id }}</br></br>
    Nom: {{  employe.nom }}</br></br>
    Salaire: {{  employe.salaire }}</p>
{% endblock %}
